extends layout

block main-content
  #hero-section
    #hero-background
    h1#hero-text All restaurants reviews in one place
    form#search-bar(action=`/search`, method="GET")
      input#search-type(type="text", name="type", placeholder="Search for Restaurants")
      input#search-location(type="text", name="location", placeholder="Location")
      input#search-button(type="submit" value="Search")
  #featured-list 
    h2 Featured Restaurants in Toronto
    #restaurants-container
      each res in restaurants 
        - let imagePath = "/images/Default.png";
        - let altTest = "No Image";
        - if (res.img) imagePath = res.img;
        - if (res.img) altTest = `Food in ${res.name}`;
        a.featured-restaurant(href=`/restaurant/googleId/${res.googleId}/yelpId/${res.yelpId}`)
            img(src=imagePath, alt=altTest)
            h3 #{res.name}
            if res.googleRating
              p Google Rating: #{res.googleRating}
            if res.yelpRating
              p Yelp Rating: #{res.yelpRating}