extends layout

block main-content
  #restaurant
    h1 #{restaurant.details.name}
    #res-info 
      - let imagePath = "/images/Default.png";
      - let altTest = "No Image";
      - if (restaurant.details.img) imagePath = restaurant.details.img;
      - if (restaurant.details.img) altTest = `Food in ${restaurant.details.name}`;
      img.res-image(src=imagePath, alt=altTest)
      div#res-detail
        if restaurant.details.googleRating
          .rating
            img.platform-icon(src="/images/google.png", alt="Google Icon")
            p Google Rating: #{restaurant.details.googleRating} (#{restaurant.details.googleReviews})
        if restaurant.details.yelpRating
          .rating
            img.platform-icon(src="/images/yelp.png", alt="Yelp Icon")
            p Yelp Rating: #{restaurant.details.yelpRating} (#{restaurant.details.yelpReviews})
        if restaurant.details.price
          p Price Level: #{restaurant.details.price}
        if restaurant.details.location
          p Address: #{restaurant.details.location}
        if restaurant.details.phone
          p Phone Number: #{restaurant.details.phone}
    #res-review 
      h2 Reviews
      each review in restaurant.reviews
        - let className = "";
        - let h3Text = "";
        if (review.type == "GOOGLE")
          - className = "google-review"
          - h3Text = "Google Review: " +  review.userName;
        else
          - className = "yelp-review"
          - h3Text = "Yelp Review: " +  review.userName;
        div(class=className)
          - let imagePath = review.profileImage;
          - let altTest = `Profile Image of ${review.userName}`;
          img.comment-img(src=imagePath, alt=altTest)
          .comment-details
            h3 #{h3Text}
            p Rating: #{review.rating}
            p Date: #{review.time}
            p Comment: #{review.text}