extends layout

block main-content
  #search-result-wrapper
    h1 Search Result for #{title}
    form#search-bar(action="/search", method="GET")
      input#search-type(type="text", name="type", placeholder="Search for Restaurants")
      input#search-location(type="text", name="location", placeholder="Location")
      input#search-button(type="submit" value="Search")
  #search-result 
    each res in restaurants 
      - let imagePath = "/images/Default.png";
      - let altTest = "No Image";
      - if (res.img) imagePath = res.img;
      - if (res.img) altTest = `Food in ${res.name}`;
      a.search-result-restaurant(href=`/restaurant/googleId/${res.googleId}/yelpId/${res.yelpId}`)
        img.search-image(src=imagePath, alt=altTest)
        .search-details
          h3 #{res.name}
          if res.googleRating
            .rating
              img.platform-icon(src="/images/google.png", alt="Google Icon")
              p Google Rating: #{res.googleRating} (#{res.googleReviews})
          if res.yelpRating
            .rating
              img.platform-icon(src="/images/yelp.png", alt="Yelp Icon")
              p Yelp Rating: #{res.yelpRating} (#{res.yelpReviews})