extends layout

block main-content
  div#search-bar
    h1 Search Result for #{title}
    form(action="/search", method="GET")
      input#search-type(type="text", name="type", placeholder="Search for Restaurants")
      input#search-location(type="text", name="location", placeholder="Location")
      input#search-button(type="submit")
  div#search-result 
    each res in restaurants 
      - let imagePath = "images/Default.png";
      - let altTest = "No Image";
      - if (res.img) imagePath = res.img;
      - if (res.img) altTest = `Food in ${res.name}`;
      a.search-result-restaurant(href="/")
        img(src=imagePath, alt=altTest)
        div#search-details
          h3 #{res.name}
          if res.googleRating
            p Google Rating: #{res.googleRating} #{res.googleReview}
          if res.yelpRating
            p Yelp Rating: #{res.yelpRating} #{res.yelpReview}